@import '@/styles/variables.scss';

.variables-editor {
  display: flex;
  justify-content: center;
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: $border-style;
  border-color: $eighth-color;
  padding: 1vw;
}
