.team {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}
.members {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}