$main-color: #1bb2a7ed;
$background-color: #242424;
$color: rgba(255, 255, 255, 0.87);

$background-color-btn: #1a1a1a;
$color-link: #646cff;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$transition-sec: 0.5s;
$transitionAll: all $transition-sec ease;
