@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.main');

.main {
  justify-content: flex-start;
  min-height: 90vh;
  padding: calc($padding-header-top-bottom + $height-icon-settings) 0;
}
