@import '@/styles/variables.scss';

.main {
  min-height: 90vh;
  justify-content: flex-start;
  padding-top: calc($padding-header-top-bottom + $height-icon-settings);
}

.footer,
.main {
  display: flex;
  min-width: 320px;
  flex-direction: column;
}
