@import '@/styles/variables.scss';

.settings-language {
  display: flex;
  &__item {
    padding: 0 7%;
  }
  &__btn {
    padding: 0;
    width: 75px;
  }
  &__switcher {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: $border-radius;
    background-color: $fifth-color;
    transition: right $transition-sec;
    &.ru {
      right: 0;
    }
    &.en {
      right: -20px;
    }
  }
}
