@import '@/styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  position: fixed;
  background-image: $background-image-header;
  left: 0;
  width: 100%;
  top: 0;
  padding: $padding-header-top-bottom;
  transition:
    background-image $transition-sec,
    padding $transition-sec;
  &__wrapper {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__left-side {
    display: flex;
  }
  &__right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
  &__btn {
    width: 45%;
  }
  &.sticky {
    background-image: $background-image-header-sticky;
    padding: $padding-header-scroll;
  }
}

@media (max-width: 1220px) {
  .header {
    &__wrapper {
      width: 80%;
    }
    &__right-side {
      width: 30%;
    }
  }
}

@media (max-width: 1050px) {
  .header {
    &__right-side {
      width: 40%;
    }
  }
}

@media (max-width: 780px) {
  .header {
    &__right-side {
      width: 50%;
    }
  }
}

@media (max-width: 630px) {
  .header {
    &__wrapper {
      width: 100%;
    }
    &__right-side {
      width: auto;
    }
    &__btn {
      text-wrap: nowrap;
      width: auto;
    }
  }
}

