@import '@/styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  &__left-side {
    display: flex;
  }
  &__right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
}
