@import '@/styles/variables.scss';

.query-editor-viewer {
  &__pre {
    white-space: pre-wrap;
    text-align: left;
    margin-left: 0px;
    padding: 1vw;
    overflow-y: auto;
    height: 500px;
    &::-webkit-scrollbar {
      background-color: $eighth-color;
      background-image: $background-image-code-editor-scrollbar;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $background-image-code-editor-scrollbar-thumb;
    }
  }
  &__code-editor {
    display: flex;
    justify-content: center;
    padding: 1vw;
    overflow-y: auto;
    height: 500px;
    background-image: $background-image-code-editor;
    border-radius: $border-radius;
    &::-webkit-scrollbar {
      background-color: $eighth-color;
      background-image: $background-image-code-editor-scrollbar;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $background-image-code-editor-scrollbar-thumb;
    }
  }
  &__line-numbers {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_item {
      color: $fourth-color;
    }
  }
  &__code-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    outline: none;
  }
}
