@import '@/styles/variables.scss';

.query-editor-viewer {
  padding: 1vw;
  background-color: #0000001a;
  border-radius: 8px;
  &__pre {
    white-space: pre-wrap;
    text-align: left;
    margin-left: 0px;
    padding: 1vw;
    overflow-y: auto;
    max-height: 50vh;
    &::-webkit-scrollbar {
      background-color: $eighth-color;
      background-image: $background-image-code-editor-scrollbar;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $background-image-code-editor-scrollbar-thumb;
    }
  }
  &__code-editor {
    min-height: 100px;
    max-height: 45vh;
  }
}
