.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .footer {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}
