@import '@/styles/variables.scss';

.response-section {
  display: flex;
  flex-direction: column;
  border-width: 1px 0 0 1px;
  border-style: $border-style;
  border-color: $eighth-color;
  padding: 1vw;
  flex: 1;
  transition: flex $transition-sec;
  &.doc-open {
    flex: none;
  }
  &__title {
    padding: 1vh 0;
  }
}
