@import '@/styles/variables.scss';

.top-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: $padding-top-section;
  &__left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $widthgraphi-ql-top-section-side;
  }
  &__right-side {
    width: $widthgraphi-ql-top-section-side;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-btn-icon-docs;
    &.disabled {
      background-color: $eighth-color;
      cursor: not-allowed;
    }
  }
  &__title {
    color: $fifth-color;
  }
}

@media (hover: hover) {
  .top-section {
    &__btn:hover > svg > path {
      stroke: $fifth-color;
      fill: $fifth-color;
    }
  }
}
