@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.sign-up');
@include flex-direction-column('.sign-up__form');

.sign-up {
  &__title {
    padding: 1vw 0;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    &_link {
      padding-left: 1vw;
    }
  }
  &__form {
    padding: $padding-form;
    border-color: $eighth-color;
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    background-image: $background-image-form;
  }
  &__btn {
    margin-top: 1vw;
    &.disabled {
      background-color: $eighth-color;
    }
  }
}

@media (max-width: 400px) {
  .sign-up {
    &__form {
      padding: 5vw 8vw;
    }
  }
}
